@font-face {
  font-family: Fanta-Regular;
  src: url(../fonts/Fanta-Regular.otf); }
span {
  font-size: 1.3em; }

p, ul, li, a {
  font-size: 1.1em; }

ul {
  padding-left: 0; }

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Fanta-Regular;
  color: white;
  text-align: center;
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: inherit; }

button.cta-green {
  background: #99bc1f;
  width: 70%;
  height: 8vh;
  color: #000a8b;
  font-size: 1.6em;
  border: 0;
  -webkit-box-shadow: 3px 3px 0px 6px #000a8b;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 0px 6px #000a8b;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 0px 6px #000a8b;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

button.cta-orange {
  background: #f7941e;
  width: 70%;
  height: 8vh;
  color: #000a8b;
  font-size: 1.6em;
  border: 0;
  -webkit-box-shadow: 3px 3px 0px 6px #000a8b;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 0px 6px #000a8b;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 0px 6px #000a8b;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

button.cta-small {
  width: 30%;
  height: 5vh;
  font-size: 1.2em;
  margin: 5px 10px; }

/*homepage*/
#homepage {
  height: 100%;
  padding: 2em 2em 0.5em 2em; }

#homepage {
  background: #f7941e; }

#homepage #what-is-this- {
  position: absolute;
  width: 100%;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0); }

/*what-is-this*/
#what-is-this-overlay {
  display: none;
  background: #000a8b;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0; }

#what-is-this span {
  color: #f7941e; }

.back {
  position: absolute;
  top: 1rem;
  left: 1rem; }

#terms {
  position: absolute;
  width: 100%;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0); }

#loading h1 {
  margin: 0; }

#loading .row:first-child {
  background: #f7941e; }

#loading .row:nth-child(2) {
  background: white;
  color: #000a8b;
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto; }

#loading .row:last-child {
  background: #000a8b; }

#video-player {
  width: 100vw;
  overflow: hidden;
  display: block;
  height: 60%; }

#video-one .row {
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto; }

#email-video-overlay, #new-video-overlay {
  display: none;
  background: #f7941e;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0; }

#new-video-overlay .row, #video-two .row.first {
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto; }

#video-two {
  background: #f7941e; }

#email-video-overlay {
  color: #000a8b; }

#email-video-overlay .row.first {
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto; }

#email-video-overlay .row:last-child {
  font-size: 1.3em; }

.go-email {
  width: 70%;
  height: 8vh;
  color: #000a8b;
  font-size: 1.6em;
  background: #99bc1f;
  border: 3px solid #000a8b; }

#email-address {
  width: 70%;
  height: 8vh;
  color: #000a8b;
  font-size: 1.6em;
  background: #f7941e;
  border: 3px solid #000a8b;
  margin-bottom: 5vh; }

#select-pics {
  color: #000a8b;
  background: white; }

#select-pics h2 {
  color: white;
  margin: 0; }

#select-pics h3 {
  text-align: left;
  margin-left: 1rem; }

#select-pics figure > img {
  padding: 5px; }

#select-pics figure.profile-pic {
  width: 35%;
  margin: 0 auto;
  padding-top: 10px; }

#popular-posts {
  margin-top: 30vh; }

#popular-posts.square-grid {
  width: 100%;
  height: 67vw; }

#manual-header {
  background: #99bc1f;
  height: 25vh;
  position: fixed;
  top: 0;
  width: 100%; }

#profile_picture {
  height: 10vh; }

/*# sourceMappingURL=style.css.map */
