@font-face {
  font-family: Fanta-Regular;
  src: url(../fonts/Fanta-Regular.otf); }
.ios-OS {
  display: block; }

.other-OS {
  display: none; }

.con {
  padding-left: 10%;
  padding-right: 10%; }

.orange {
  color: #f7941e; }

#landscape-screen {
  display: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 99;
  background: #000a8b; }

#landscape-screen p {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

@media screen and (orientation: landscape) and (max-width: 767px) {
  #landscape-screen {
    display: block; } }
p, ul, li, a {
  font-size: 1.2em; }

ul {
  padding-left: 0; }

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Fanta-Regular;
  color: white;
  text-align: center;
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: inherit; }

button.cta-green {
  height: 50px;
  width: calc(100% - 20px);
  position: relative;
  color: #000a8b;
  border: 3px solid #000a8b;
  background: #99bc1f; }
  button.cta-green:after, button.cta-green:before {
    content: '';
    background: #000a8b;
    position: absolute; }
  button.cta-green:after {
    width: calc(100% + 6px);
    height: 10px;
    left: 2px;
    bottom: -3px;
    transform: translatey(100%) skewx(45deg); }
  button.cta-green:before {
    width: 10px;
    height: calc(100% + 6px);
    right: -3px;
    transform: translatex(100%) skewy(45deg);
    top: 2px; }

button.cta-orange {
  height: 50px;
  width: calc(100% - 20px);
  position: relative;
  color: #000a8b;
  border: 3px solid #000a8b;
  background: #f7941e; }
  button.cta-orange:after, button.cta-orange:before {
    content: '';
    background: #000a8b;
    position: absolute; }
  button.cta-orange:after {
    width: calc(100% + 6px);
    height: 10px;
    left: 2px;
    bottom: -3px;
    transform: translatey(100%) skewx(45deg); }
  button.cta-orange:before {
    width: 10px;
    height: calc(100% + 6px);
    right: -3px;
    transform: translatex(100%) skewy(45deg);
    top: 2px; }

button.cta-small {
  height: 50px;
  width: calc(100% - 20px);
  position: relative;
  color: #000a8b;
  border: 3px solid #000a8b;
  width: 120px;
  height: 40px;
  font-size: 1.2em; }
  button.cta-small:after, button.cta-small:before {
    content: '';
    background: #000a8b;
    position: absolute; }
  button.cta-small:after {
    width: calc(100% + 6px);
    height: 10px;
    left: 2px;
    bottom: -3px;
    transform: translatey(100%) skewx(45deg); }
  button.cta-small:before {
    width: 10px;
    height: calc(100% + 6px);
    right: -3px;
    transform: translatex(100%) skewy(45deg);
    top: 2px; }

/*homepage*/
#homepage {
  height: 100%;
  padding: 10%; }

#homepage {
  background: #f7941e; }

#homepage #what-is-this- {
  position: absolute;
  width: 100%;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0); }

/*what-is-this*/
#what-is-this-overlay {
  display: none;
  background: #000a8b;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  padding: 10%; }

#what-is-this span {
  color: #f7941e; }

.back {
  z-index: 10;
  position: fixed;
  top: 1rem;
  left: 1rem; }

#terms {
  position: absolute;
  width: 100%;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0); }

#loading h1 {
  margin: 0; }

#loading .row:first-child {
  background: #f7941e; }

#loading .row:nth-child(2) {
  background: white;
  color: #000a8b;
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto; }

#loading .row:last-child {
  background: #000a8b; }

#video-player {
  width: 100vw;
  overflow: hidden;
  display: block; }

#video-one .row {
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto; }

#received-video-overlay, #email-video-overlay, #new-video-overlay {
  display: none;
  background: #f7941e;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  padding: 10%; }

#new-video-overlay .row, #video-two .row.first {
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto; }

#video-two {
  background: #f7941e; }

.get-video-CTA {
  height: 50px;
  margin-top: 10px; }

.new-video-CTA {
  height: 50px;
  margin-top: 20px; }

#email-video-overlay {
  color: #000a8b; }

#email-video-overlay .row.first {
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto; }

#email-video-overlay .row:last-child {
  font-size: 1.3em; }

.go-email {
  height: 50px;
  width: calc(100% - 20px);
  position: relative;
  color: #000a8b;
  border: 3px solid #000a8b;
  background: #99bc1f;
  border: 3px solid #000a8b; }
  .go-email:after, .go-email:before {
    content: '';
    background: #000a8b;
    position: absolute; }
  .go-email:after {
    width: calc(100% + 6px);
    height: 10px;
    left: 2px;
    bottom: -3px;
    transform: translatey(100%) skewx(45deg); }
  .go-email:before {
    width: 10px;
    height: calc(100% + 6px);
    right: -3px;
    transform: translatex(100%) skewy(45deg);
    top: 2px; }

#email-address {
  height: 50px;
  width: calc(100% - 20px);
  position: relative;
  color: #000a8b;
  border: 3px solid #000a8b;
  background: #f7941e;
  border: 3px solid #000a8b;
  margin-bottom: 5vh; }
  #email-address:after, #email-address:before {
    content: '';
    background: #000a8b;
    position: absolute; }
  #email-address:after {
    width: calc(100% + 6px);
    height: 10px;
    left: 2px;
    bottom: -3px;
    transform: translatey(100%) skewx(45deg); }
  #email-address:before {
    width: 10px;
    height: calc(100% + 6px);
    right: -3px;
    transform: translatex(100%) skewy(45deg);
    top: 2px; }

#manual-select {
  color: #000a8b;
  background: white; }

#manual-select h2 {
  color: white;
  margin: 0; }

#manual-select h3 {
  text-align: left;
  margin-left: 1rem; }

#manual-select figure > img {
  padding: 5px; }

#popular-posts {
  margin-top: 190px; }

#manual-header {
  background: #99bc1f;
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9; }

#manual-form > #cta-reset, #manual-form > #cta-submit {
  position: fixed;
  top: 130px;
  z-index: 100; }

#manual-form {
  text-align: left;
  padding-left: 0.5vw;
  padding-right: 0.5vw; }

#profile_picture {
  height: 100px;
  width: 100px;
  margin: 0 auto; }

#manual-select figure.profile-pic {
  width: 35%;
  margin: 0 auto;
  padding-top: 10px; }

#cta-submit {
  right: calc(50vw - 125px); }

#cta-reset {
  left: calc(50vw - 135px); }

input[type="checkbox"][id^="img-"] {
  display: none; }

label {
  width: 32vw;
  height: 32vw;
  margin-bottom: 1vw;
  border: 1px solid #fff;
  position: relative;
  cursor: pointer; }

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0); }

label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%; }

:checked + label {
  border-color: #f7941e;
  border-width: 3px; }

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1; }

@media screen and (min-width: 1025px) {
  #video-player {
    width: 300px;
    margin: 0 auto; } }
@media screen and (min-width: 500px) {
  button.cta-green, button.cta-orange {
    width: 250px; }

  #video-player {
    height: 70%;
    margin: 0 auto; }

  .get-video-CTA {
    margin-top: 30px; }

  .new-video-CTA {
    margin-top: 30px; } }

/*# sourceMappingURL=style.css.map */
